.h2 {
    color: var(--Red);
}

.cart {
    background: var(--white);
    position: sticky;
    top: 10px;
    aspect-ratio: 1/1;
    padding: 20px;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    gap: 20px;
    
}

.cart_empty::before {
    content: url("images/illustration-empty-cart.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart_empty::after {
    content: "Your added items will appear here";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -200%);
    width: 100%;
    text-align: center;
    font-size: .8rem;
    color: var(--Rose-500);
}
.hidden {
    visibility: hidden;
}
.product_name {
    color: var(--Rose-900);
    font-weight: 600;
}

.product_container {
    border-bottom: 1px solid var(--Rose-100);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 10px;
    position: relative;

}

.product_quantity {
    font-weight: 600;
    display: flex;
    gap: 10px;
}

.product_quantity :nth-child(1) {
    color: var(--Red);
}

.product_quantity :nth-child(2) {
    color: var(--Rose-300);
}

.product_quantity :nth-child(3) {
    color: var(--Rose-500);
}

.icon_close {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
    border: 1px solid var(--Rose-500);
    padding: 2px;
    border-radius: 100%;
}
.icon_close:hover {
 filter: brightness(.2);
}
.footer_cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.total_price {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.total_price :nth-child(2) {
    font-size: 1.2rem;
    font-weight: 900;
}

.marketin_text {
    display: flex;
    justify-content: center;
    padding: 16px;
    background: var(--Rose-100);
    border-radius: 5px;
}

.footer_cart button {
    border: none;
    outline: none;
    background: var(--Red);
    padding: 20px;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    border-radius: 30px;

}

.footer_cart button:hover {
    background: var(--Red-Hover);
}